p {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 1%;
}

div {
    border: solid 4px black;
    background-color: lightblue;
    padding: 1%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-left: 30%;
    font-size: 40pt;
}

a:hover {
    color: lightcyan;
}

td#description {
    background-color: lightblue;
    border: solid 4px black;
}

img {
    border: solid 4px black;
}


h4 {
    text-align: center;
}

td#img {
    text-align: center;
}

td#back {
    padding-top: 3%;
    padding-bottom: 3%;
}
