/*
    Project 6 - BMI Calculator
    By Ian Kwuan
    Date: 3/4/20
*/


html {
    font-family: sans-serif;
    font-size: 1.25em;
    background-color: lightcyan;
}

h1 {
    background-color: lightblue;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

input:focus {
    background-color: beige;
}

div {
    line-height: 1.5em;
    margin-bottom: 2%;
    margin-left: 5%
}

p {
    float: left;
    padding-right: 1%;
}