h1 {
    text-align: center;
    font-size: 40pt;
}

div#intro {
    background-color: lightblue;
    border: solid 4px black;
}

p {
    font-size: 15pt;
}

p#intro {
    padding: 1%;
}

h2#name {
    margin-top: 1%;
    margin-left: 75%;
}

h2 {
    text-align: center;
}

div#pages {
    padding: 1%;
    height: 80%;
    margin-top: 2%;
}

p.link {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.screenshot {
    text-align: center;
    border: solid 4px black;
}

a:hover {
    color: lightcyan;
}

img#face {
    border: solid 4px black;
    text-align: center;
}

div.square:hover {
    border-color: lightcyan;
}

td {
    width: 33%;
    background-color: lightblue;
    border: solid 4px black;
}
